@{
    Layout = "~/Views/Shared/adminView.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>transfer</title>
</head>
<body>
    <div>
        tHIS IS ADMIN
    </div>
</body>
</html>
